
.title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Microsoft YaHei UI;

    h2 {
        font-size: 48px;
        font-style: bold;
    }

    p {
        font-size: 24px;
        color: #807E7E;
        margin-top: -40px;
    }
}

.body {
    display: flex;
    flex-direction: column;
}
