
.title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h2 {
        font-size: 48px;
        font-style: bold;
    }

    p {
        font-size: 24px;
        color: #807E7E;
        margin-top: -40px;
    }
}

.body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttonAdd {
    width: 75px;
    height: 75px;
    border-radius: 38px;
    border: 2px solid #5B5B5B;
    background-color: #ffffff;
    font-size: 60px;
    font-weight: 150;
    line-height: 1.0;
    margin-bottom: 40px;
}
