
.bodyTextArea {
    display: flex;
    justify-content: center;
}

.textarea {
    resize: none;
    width: 900px;
    height: 130px;
    border-radius: 35px;
    border: 1px solid #5B5B5B;
    padding: 20px;
    font-size: 24px;
    overflow: hidden;
}
